---
permalink: /index.html
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rollerstrut - Roller Discos, Roller Skate Hire and Skate Tuition around the UK</title>
    <style type="text/css" media="screen">
      body { background-color: #FFF; color: #000; font: 1rem/1.4 Arial, Helvetica, Geneva, sans-serif; margin: 0; padding: 1rem; }
      h1 { font-size: 1.5rem; margin: 0 0 1rem; padding: 0; }
      h1 img { height: auto; max-width: 100%; }
      h1 span { display: block; }
      h2 { font-size: 1.325rem; margin: 0; padding: 0; }
      h2 a:link { background-color: #FFF; color: #000; }
      dl { margin: 0 0 1rem; padding: 0; }
      dl dt { font-size: 1.325rem; font-weight: bold; }
      dl dd { font-size: 1.325rem; margin: 0 0 1rem; padding: 0 0 0 1.25rem; }
      dl dd a:link { background-color: #FFF; color: #000; }
      dl dd a:hover { text-decoration: none; }
      ul { font-size: 1.325rem; margin: 0 0 1rem; padding: 0 0 0 1.25rem; }
      ul li { margin: .5rem 0; }
      ul li a { background-color: #FFF; color: #000; }
      ul li a:hover { text-decoration: none; }
    </style>
  </head>
  <body>
    <h1>
      <img alt="Rollerstrut" height="225" src="rollerstrut.png" width="410" />
      <span>Rollerstrut - Roller Discos, Roller Skate Hire and Skate Tuition around the UK</span>
    </h1>
    <dl>
      <dt>E-mail</dt><dd><a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#104;&#101;&#108;&#108;&#111;&#064;&#114;&#111;&#108;&#108;&#101;&#114;&#115;&#116;&#114;&#117;&#116;&#046;&#099;&#111;&#109;">&#104;&#101;&#108;&#108;&#111; [at] &#114;&#111;&#108;&#108;&#101;&#114;&#115;&#116;&#114;&#117;&#116; [dot] &#099;&#111;&#109;</a></dd>
      <dt>Phone:</dt><dd><a href="tel:+447866356791">07866 356791</a></dd>
    </dl>
    <h2>Hire <a href="http://superfunkrollerdisco.com/">Superfunk Roller Disco</a> for</h2>
    <ul>
      <li>Professional and Experienced Mobile Roller Disco Events</li>
      <li>Roller Skate Hire</li>
      <li>Skate Marshals</li>
      <li>CRB Cleared Staff</li>
      <li>Protective Equipment</li>
      <li>Risk Assessments and Health & Safety Equipment for your venue</li>
      <li>Public Liability Insurance</li>
    </ul>
    <h2>Press:</h2>
    <ul>
      <li><a href="http://www.guardian.co.uk/music/2008/sep/27/clubs2">Superfunk Roller Disco, on tour</a> in the <a href="http://www.guardian.co.uk/theguardian/2008/sep/27/theguide">The Guardian: The Guide - Saturday September 27 2008</a></li>
      <li><a href="http://www.ryanairmag.com/story/roller-disco/393/">Ryanair Inflight Magazine - Aug/Sep 2008 issue</a></li>
      <li><a href="http://www.lep.co.uk/what-women-want/You-gotta-roll-with-it.4072246.jp">You gotta roll with it</a> by <a href="http://www.lep.co.uk/">Lancashire Evening Post</a></li>
      <li><a href="http://www.savvymag.co.uk/article.asp?aid=84">Roll with It</a> by Andy Garner - <a href="http://www.savvymag.co.uk/">Savvy Magazine</a></li>
    </ul>
    <p>&copy; Rollerstrut LLP 2007-2022</p>
  </body>
</html>
